@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --orange: #eb5e28;
  --black: black;
  --off-white: #fffcf2;
  --grey: #b1b1b1;
  --title-font: "Fira Sans", sans-serif;
  --text-font: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

body main {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr;
}

/*******************  NAVBAR  *********************/

.navbar .navbar-expand-lg .navbar-dark {
  background-color: var(--black);
}

#take-to-home {
  display: none;
}
.section-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

/* **************** LANDING PAGE / HOME PAGE ******************************/

.home-container {
  background-color: var(--black);
  color: var(--off-white);
  text-align: center;
  width: 100% !important;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .title {
  font-family: var(--title-font);
  font-size: 40px;
  font-weight: 600;
  padding: 0 10px 0;
}

.hidden-header {
  opacity: 0;
  height: 5vw;
}

.home .sub-title {
  font-size: 30px;
  margin-bottom: 30px;
  padding: 0 10px 0;
}

#orange-line {
  background-color: var(--orange);
  padding-left: 35%;
  padding-bottom: 0;
  width: 20%;
  height: 0.25em;
  box-align: center;
}

/* Animation */
/* Source - https://codepen.io/marcoangelo/pen/rNVJdxQ */
[data-animate] {
  opacity: 0;
  will-change: auto;
}

.animated {
  transition: all 1s cubic-bezier(0.57, 0.08, 0.9, 0.36);
  opacity: 1;
}

/* **************** Common Settings ******************************/

/* All Titles */

section header .title,
#contact-title {
  font-family: var(--title-font);
  font-size: 30px;
  letter-spacing: 1px;
  padding: 30px;
  padding-bottom: 20px;
}

/* All Buttons */

.btn-primary,
.btn-primary:hover,
.btn-primary:visited,
.btn-submit {
  background-color: var(--orange);
  font-style: bold;
  color: var(--off-white);
  border-color: var(--orange);
  box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 12px;
}

/* All section separators */
.section-separator {
  background-color: var(--orange);
  padding-left: 35%;
  width: 20%;
  height: 0.25em;
  box-align: center;
}

/* **************** ABOUT ME  ******************************/

.about-container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-gap: 20px;
  padding: 0px 30px;
}

.brand-statement {
  text-align: justify;
  text-justify: inter-word;
  margin: 20px;
  font-family: var(--text-font);
  font-size: 15px;
}

.orange {
  color: var(--orange);
}

.about-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#profile-pic {
  width: 53vw;
  border-radius: 50%;
}
.skills-title h4 {
  padding: 10px;
  font-size: 20px;
}

.skill-icon {
  width: 40px;
}

.skill-name {
  font-size: 12px;
}

.skill-div {
  padding: 5px;
  font-family: var(--text-font);
  font-weight: 600;
}

/* PROJECTS */

.projects-container {
  display: grid;
  grid-gap: 20px;
}

#projects-more {
  font-size: small;
  color: var(--grey);
}

.projects-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 0 30px 0;
}

.project-card {
  background-color: transparent;
  box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.4);
  height: 340px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  /* For 3D effect */
  perspective: 1000px;
  margin: 10px;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.8s ease;
  transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}

.project-card-front img {
  height: auto;
  border-radius: 10px;
}

.project-card-back p {
  text-align: justify;
}

/* Style the back side */
.project-card-back {
  padding: 10px;
  font-family: var(--text-font);
  transform: rotateY(180deg);
}

.project-card-back p {
  font-weight: 500;
}

/*  CONTACT FORM  */

.contact-container {
  background-color: var(--black);
  color: var(--off-white);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 10px;
  width: 100%;
  padding: 15px;
}

.contact-header {
  padding: 20px;
}

.contact-main {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10px;
}

#contact-title {
  padding-bottom: 0px;
}

.contact .submit {
  background-color: var(-off-white);
  padding: 5px 20px;
  margin: 5px;
  width: 100%;
}

.contact input,
textarea {
  border-radius: 10px;
  width: 75%;
  margin: 5px;
}

#contact-thanks {
  display: none;
  font-family: var(--title-font);
  font-style: italic;
  font-size: 20px;
  padding-top: 5px;
  color: linear-gradient(
    to right,
    var(--orange),
    var(--off-white),
    var(--orange)
  );
  color: var(--orange);
}

.social-media {
  padding-top: 10px;
  font-size: 20px;
  font-style: bold;
  font-weight: 600;
}

.social-media a {
  color: var(--orange);
}

.footer {
  background-color: var(--black);
  font-size: 15px;
  color: var(--off-white);
  padding: 10px;
}

/*  GO-to-top Button */

#myTopBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: var(--black);
  /* Set a background color */
  opacity: 0.5;
  color: var(--off-white);
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 2px 13px 5px 13px;
  border-radius: 100%;
  font-size: 24px;
  /* Increase font size */
}

#myTopBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}
